[submodule "Lecture-Slides/Lecture-Slides/CyberSecurity-Lecture-Slides"]
	path = Lecture-Slides/Lecture-Slides/CyberSecurity-Lecture-Slides
	url = https://github.com/HyperionDevBootcamps/CyberSecurity-Lecture-Slides
[submodule "Additional-External-Resources/Lecture-Slides/Additional-External-Resources"]
	path = Additional-External-Resources/Lecture-Slides/Additional-External-Resources
	url = https://github.com/HyperionDevBootcamps/Cyber-External-Resources
[submodule "Additional-External-Resources/Additional-External-Resources"]
	path = Additional-External-Resources/Additional-External-Resources
	url = https://github.com/HyperionDevBootcamps/Cyber-External-Resources
[submodule "Digital-Ocean/Digital-Ocean"]
	path = Digital-Ocean/Digital-Ocean
	url = https://github.com/HyperionDevBootcamps/Cyber-Kali-with-Digital-Ocean
[submodule "Takehome-Files/Takehome-Files"]
	path = Takehome-Files/Takehome-Files
	url = https://github.com/HyperionDevBootcamps/CYBER-WORKSHOP-TAKEHOME
